
html{
    scroll-behavior: smooth;
}
body {
    background: #F2E9D9;
    font-family: "poppins" , 'Segoe UI', Tahoma, Verdana, sans-serif;
    overflow-x: hidden;
  }
  section{
      padding: 40px 0;
  }
  .wrapper{
    max-width: 2000px !important;
    padding: 0 90px;
  }
.sec-btn{
    font-size: 14px;
    padding: 8px 15px;
    border: 1px solid #eee;
    border-radius: 3px;
    color: #eee;
    text-decoration: none !important;
    transition: 0.3s;
}
.sec-btn:hover{
    background-color: white;
    color: #00574f;
}

.hero-sec{
    position: relative;
    min-height: 100vh;
    width: 100vw;
}
.intro {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    width: 90%;
}
.intro h1 {
    font-size: 4em;
    font-weight: bold;
}
.intro p {
    width: 50%;
}
.intro a.link {
    text-decoration: none;
}

.m_scroll_arrows
{
  display: block;
  text-align: center;
  margin-left: auto;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid #222;
  border-bottom: 2px solid #222;
  
  width: 10px;
  height: 10px;
  margin: 5px auto;
}
.unu
{
  padding-top: 10px;
}
.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
}
.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}
.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  margin-top: -3px;
}
.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  margin-top: -3px;
}
@-webkit-keyframes mouse-scroll {
  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {
  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {
  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {
  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

.hero-sec .blobs{
    .blob-baige{
        position: absolute;
        top: -80px;
        left: 20%;
        border-radius:61% 39% 64% 36% / 34% 67% 33% 66%;
        height: 380px;
        width: 430px;
        background-color: #F6BD95;
        z-index: -1;
        transform: rotate(-5deg) scale(1);
        animation: 5s breathe infinite;
    
    }
    .blob-teal{
        position: absolute;
        bottom: -80px;
        left: -100px;
        border-radius: 60% 40% 54% 46% / 42% 35% 65% 58% ;
        height: 360px;
        width: 450px;
        background-color: #3BE6D9;
        z-index: -1;
        transform: rotate(-5deg) scale(1);
        animation: 5s breathe infinite;
    }
    .blob-pink{
        position: absolute;
        top: -50px;
        right: -50px;
        border-radius: 60% 40% 54% 46% / 42% 35% 65% 58% ;
        height: 280px;
        width: 300px;
        background-color: #d62956;
        z-index: -1;
        transform: rotate(-5deg) scale(1);
        animation: 5s breathe infinite;
    }
    .blob-yellow{
        position: absolute;
        bottom: -10px;
        right: -30px;
        border-radius: 56% 44% 60% 40% / 56% 56% 44% 44%  ;
        height: 320px;
        width: 400px;
        background-color: #FFCC2A;
        z-index: -1;
        transform: rotate(-5deg) scale(1);
        animation: 5s breathe infinite;
    }
}
@keyframes breathe {
    50%  { transform:rotate(-5deg) scale(1.08) }
}

.about-sec{
    margin-top: 50px;
    img{
        width: 100%;
        height: 100%;
    }
    .content-con{
        margin-left: 0px;
        .content{
            background-color: #00574f;
            border-radius: 51% 49% 54% 46% / 50% 60% 40% 50% ;
            padding: 140px 100px;
            color: white;
            h2{
                font-weight: bold;
            }
            p{
                color: #ddd;
                font-weight: 300;
            }
            animation: 3s breathe2 infinite;
        }
    }
 
    @keyframes breathe2 {
        50%  { border-radius: 48% 46% 50% 41% / 48% 55% 35% 50% ; }
    }


}

.events-sec{
    margin-top: 50px;
    .heading{
        h1{
            writing-mode: vertical-rl;
            transform:scale(-1);
            padding: 0;margin: 0;
            margin-bottom: 20px;
            font-weight: 600;
            color: #00000033;
            font-size: 45px;
            margin-top: 50px;
        }
        .sec-btn{
            color: black !important;
            border: 1px solid black;
            padding: 5px 10px;
            &:hover{
                border-color: white;
            }
        }
    }
    .content{
        position: relative;
        padding: 100px 35px 80px 50px;
        .blob-bg{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            background-color: #FFCC2A;
            border-radius: 61% 39% 70% 30% / 40% 45% 55% 60% ;
            transform: rotate(170deg) scaleX(-1);
        }
        h4{
            font-weight: 600;
        }
        small{
            opacity: 0.8;
        }
        a.sec-btn{
            margin-bottom: 20px !important;
            color: black;
            border-color: black;
            padding: 5px 15px;
            font-size: 12px;
            &:hover{
                border-color: white;
            }
        }
    }
}

.gallery-sec{
    margin-top: 50px;
    .heading{
        h1{
            writing-mode: vertical-rl;
            transform:scale(-1);
            padding: 0;margin: 0;
            margin-bottom: 20px;
            font-weight: 600;
            color: #00000033;
            font-size: 45px;
            margin-top: 50px;
        }
        .sec-btn{
            color: black !important;
            border: 1px solid black;
            padding: 5px 10px;
            &:hover{
                border-color: white;
            }
        }
    }
    .content{
        img{
            height: 250px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.contact-sec{
    .form-con{
        
    }
    .image{
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}





@media(max-width:780px){
    .wrapper{
      padding: 0 20px;
    }
   .hero-sec{
        overflow: hidden;
        .intro{
            h1{
                font-size: 40px;
            }    
            h4{
                font-size: 22px;
            }    
            p{
                width: 100%;
            }
            a.link {
                text-decoration: none;
            }
        }
        .blobs{
            .blob-baige{
                top: 130px;
                left: -50px;
                height: 200px;
                width: 250px;
            }
            .blob-teal{
                bottom: 8%;
                left: -50px;
                height: 200px;
                width: 250px;
            }
            .blob-pink{
                top: -30px;
                right: -70px;
                height: 180px;
                width: 230px;
            }
            .blob-yellow{
                top: 42%;
                right: -150px;
                height: 200px;
                width: 300px;
            }
        }
    }
    
   .about-sec{
       padding-top: 20px;
       margin-top: 0;
        .content-con{
            .content{
                border-radius: 41% 39% 54% 46% / 30% 30% 40% 50%;
                padding: 90px 30px 120px 60px;
                color: white;
                h2{
                    font-size: 30px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
        @keyframes breathe2 {
            50%  { border-radius: 38% 35% 50% 40% / 25% 22% 45% 45%; }
        }
   }

   .events-sec{
        .heading{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 40px;
            h1{
                writing-mode: unset;
                transform:scale(1);
                font-size: 35px;
                margin: 0;
            }
            .sec-btn{
                margin-top: 5px;
                white-space: nowrap; /* Chrome */
                border: 1px solid black;
                padding: 5px 8px;
                &:hover{
                    border-color: white;
                }
            }
        }
        .content{
            position: relative;
            padding: 100px 35px 80px 50px;
            .blob-bg{
                position: absolute;
                width: 95%;
                height: 100%;
                top: 0;
                left: 2.5%;
                z-index: -1;
                background-color: #FFCC2A;
                border-radius: 61% 39% 70% 30% / 40% 45% 55% 60% ;
                transform: rotate(180deg) scaleX(-1);
            }
        }
   }

   .gallery-sec{
       margin-top: 0;
        .heading{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 40px;
            h1{
                writing-mode: unset;
                transform:scale(1);
                font-size: 35px;
                margin: 0;
            }
            .sec-btn{
                margin-top: 5px;
                white-space: nowrap; /* Chrome */
                border: 1px solid black;
                padding: 5px 8px;
                &:hover{
                    border-color: white;
                }
            }
        }
        .content{
            // justify-content: center;
            .col-6{
                // margin: 10px;
                // flex-basis: 41% !important;
            }
           img{
               margin-bottom: 20px;
               height: 200px;
           }
        }
   }
   

    
    
}